body {
	font: 13px Arial;
}
table {
	border-collapse: collapse;
}
thead th {
	padding: 10px;
	background: hsl(0, 0%, 90%);
}
td {
	text-align: center;
	padding: 5px;
	max-width: 70px;
}
td input {
	width: calc(100% - 10px);
}


tr:nth-child(even) {
	background: hsl(0, 0%, 95%);
}
tr:hover {
	background: hsl(0, 0%, 80%);
}

.sortable .headerSortUp:after {
	content: "\25b4";
}

.sortable .headerSortDown:after {
	content: "\25be";
}

.ui-tabs-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #ccc;
	overflow: auto;
}
.ui-corner-top {
	float: left;
	display: block;
	padding: 10px;
	background:  #222;
}
.ui-tabs-anchor {
	color: #FFF;
	text-decoration: none;
}
.tab {
	background: #eee;
	padding: 10px;
	overflow: auto;
}
.ui-tabs-active { 
	font-weight: bolder;
	background: #eee;
}
.ui-tabs-active a {
	color: blue;
}
input {
}
